@import './themes.contant'; 

.button {
  background-color: $primary;
  color: $text;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color $transition-duration, color $transition-duration;

  // Hover effect
  &:hover {
    background-color: $primary-light;
  }

  // Active effect
  &:active {
    background-color: $primary-dark;
  }

  // Disabled state
  &.disabled {
    background-color: $secondary-light;
    color: $text; 
    cursor: not-allowed;
  }
}
