@import "./variables";

// Function to generate padding classes
@function spacing($type, $size) {
  @if map-has-key($spacing, $size) {
    @return map-get($spacing, $size);
  }
  @return null; // Return null for undefined sizes
}

// Mixin to create utility classes for padding and margin
@mixin spacing-utilities() {
  @for $i from 0 through 48 {
    .p-#{$i} {
      padding: spacing(p, $i);
    }

    .m-#{$i} {
      margin: spacing(m, $i);
    }
  }
}

@include spacing-utilities(); // Generate padding and margin classes

.py-2{
  padding-top: spacing(p, 2);
  padding-bottom: spacing(p, 2);
}

.my-2{
  margin-top: spacing(m, 4);
  margin-bottom: spacing(m, 4);
}