
$background: #141414;
$text: #ffffff;
$primary: #e50914;
$primary-light: #ff3f34;
$primary-dark: #b00710;
$secondary: #222222;
$secondary-light: #444444;
$secondary-dark: #000000;
$accent: #333333;

$transition-duration: 0.3s;
