@import './container.module'; 
@import './margin-pading.module';
@import './buttons.module';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: $background; // Dark background
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;

  svg {
    width: 30px;
    height: 30px;
    transform: translate(-15px,-2px)
  }
}